{% extends "generic/run_qunex.sh" %}
{% block pipeline_specific %}

    ${QUNEXCOMMAND} hcp_asl \
	--sessionsfolder="${StudyFolder}/sessions" \
	--sessions="${StudyFolder}/processing/batch.txt"

{% endblock pipeline_specific %}