{% extends "generic/check_data.jinja2" %}
{% block pre %}
    # temporarily needed by old code in lib/ccf/structural/one_subject_job_submitter.py#41
    export SCRATCH_PROCESSING_DIR="___"
{% endblock pre %}
