{% extends "generic/process_data.jinja2" %}
{% block pre %}
{{ super() }}
# TEMPORARILY MOVE PROCESSING DIRECTORY TO SCRATCH SPACE DUE TO "Cannot allocate memory" ERRORS IN BUILD SPACE
TEMP_SCRATCH_SPACE="/scratch/$USER/scratch_buildspace/{{ SUBJECT_PROJECT }}/{{ SUBJECT_SESSION }}"
mkdir -p $TEMP_SCRATCH_SPACE
rsync -a $STUDY_FOLDER/ $TEMP_SCRATCH_SPACE/

{% endblock pre %}
{% block content %}

# copy updates back from scratch space
rsync -a $TEMP_SCRATCH_SPACE/ $STUDY_FOLDER/
#rm $TEMP_SCRATCH_SPACE

{% endblock content %}
