#!/bin/bash

unset StudyFolder
unset ParametersFile

echo ""
echo " -- Reading inputs... "
echo ""

# -- Define script name
scriptName=$(basename ${0})
scriptPath=$(dirname ${0})

# =-=-=-=-=-= GENERAL OPTIONS =-=-=-=-=-=
#
# -- key variables to set
StudyFolder='{{ STUDY_FOLDER_SCRATCH }}'
ParametersFile="$StudyFolder/sessions/specs/batch_parameters.txt"
Session='{{ SESSION }}'
SubjectPart='{{ SUBJECT }}'
Overwrite='{{ QUNEX_OVERWRITE|default("yes", true) }}'
HCPpipelineProcess='{{ PIPELINE_NAME }}'
SessionName="{{ SESSION }}{{ _SCAN }}"

export StudyFolder Session SubjectPart

TimeStamp=`date +%Y-%m-%d-%H-%M-%S`
mkdir -p $StudyFolder/processing/logs &> /dev/null
LogFile="$StudyFolder/processing/logs/${scriptName}_${TimeStamp}.log"

# only if overriding the default setting of /opt/HCP/HCPpipelines
source /opt/qunex/library/environment/qunex_environment.sh
source /opt/qunex/library/environment/qunex_envStatus.sh --envstatus

parsessions=1   # the number of sessions to process in parallel
threads=1       # the number of bold files to process in parallel

# -- Derivative variables
BatchFile="${StudyFolder}/processing/batch.txt"

QUNEXCOMMAND="bash $QUNEXCONNPATH/qunex"

main() {

#########################	createStudy
${QUNEXCOMMAND} createStudy --studyfolder="${StudyFolder}"
cd ${StudyFolder}/sessions

### BEGIN qunex_setup ### {% block qunex_setup %}
    # {% if USE_CUSTOM_BATCH is defined %}
        ## This pipeline uses a template-based approach to generate the id/scan portion of batch.txt, rather than 'createBatch'
        # {% else %}

        #########################	importHCP
        ${QUNEXCOMMAND} importHCP \
        --sessionsfolder="${StudyFolder}/sessions"  \
        --inbox="${StudyFolder}/unprocessed" \
        --action="link" \
        --overwrite="${Overwrite}" \
        --archive="leave"

        #########################	setupHCP
        ${QUNEXCOMMAND} setupHCP \
        --sessionsfolder="${StudyFolder}/sessions" \
        --sessions="${Session}" \
        --hcp_filename="original"

        #########################	createBatch
        ${QUNEXCOMMAND} createBatch \
        --sessionsfolder="${StudyFolder}/sessions" \
        --overwrite="append" \
        --paramfile="$ParametersFile"

        #{% endif %}{% endblock qunex_setup %}
### END qunex_setup ###

sleep 5
mkdir ${StudyFolder}/ProcessingInfo

start_time_file="${StudyFolder}/ProcessingInfo/${SessionName}.${HCPpipelineProcess}.starttime"
g_script_name=$(basename "${0}" .sh)
filename="${StudyFolder}/ProcessingInfo/${SessionName}.${HCPpipelineProcess}.${g_script_name}.execinfo"
echo $(date) > ${start_time_file}

}

main $@
