{% extends "generic/XNAT_GET.py" %}
{% block get_data %}
print("Getting prereq data for the Structural pipeline.")
resources.get_structural_unproc_data()
{% endblock get_data %}
{% block post %}
{{ super() }}
{% if USE_PRESCAN_NORMALIZED is defined and USE_PRESCAN_NORMALIZED %}
# TODO: test this to make sure it does the equivalent of the bash snippet in file templates/generic/XNAT_GET.jinja2
import glob
import os
from pathlib import Path
# Per above TODO:  Let's exit this code in error for now until this is tested, remainder of code is below the sys.exit statement
import sys
sys.exit("ERROR:  Use of Pre-Scan Normalized data has not yet been tested")

pathbase = "{{ WORKING_DIR }}/{{ SESSION }}/unprocessed"
otherfiles = glob.glob(f"{pathbase}/T[12]w*/OTHER_FILES/*")

for f in otherfiles:
    f = Path(f)
    os.symlink(f, f.parent.parent / f.name)
{% endif %}
{% endblock post %}
