{% extends "generic/XNAT_GET.py" %}
{% block content %}
print("Moving files")
os.system(f'mv {tmp_dir}/* {WORKING_DIR} \;')

print("Removing tmp dir")
os.system(f"rm -r {tmp_dir}")

# TODO: add the block if USE_PRESCAN_NORMALIZED is turned on
{% endblock content %}
