{% extends "generic/clean_data.jinja2" %}
{% block content %}
find $COMMON/subjects/$SUBJ/hcp/$SUBJ \! -newer $START_FILE -delete
mv $COMMON/subjects/$SUBJ/hcp/$SUBJ/* $COMMON
mv $COMMON/subjects/specs $COMMON/ProcessingInfo
mv $COMMON/processing $COMMON/ProcessingInfo
mv $COMMON/info/hcpls $COMMON/ProcessingInfo
mv $COMMON/subjects/$SUBJ/subject_hcp.txt $COMMON/ProcessingInfo/processing
mv $COMMON/subjects/$SUBJ/hcpls/hcpls2nii.log $COMMON/ProcessingInfo/processing
find $COMMON -maxdepth 1 -mindepth 1 \
    \( -type d -not -path "$COMMON/ProcessingInfo" \
    -a -not -path "$COMMON/MNINonLinear" \
    \) -exec rm -rf '{}' \;
echo "Removing any XNAT catalog files still around."
find $WORK_DIR -name "*_catalog.xml" -delete
echo "Remaining files:"
find $COMMON
{% endblock content %}
