{% extends "generic/batch_parameters.txt.jinja2" %}
{% block additional_params -%}
{%- endblock additional_params %}

---
id: {{ SESSION }}
subject: {{ SUBJECT }}
hcp: {{ STUDY_FOLDER }}/sessions/{{ SESSION }}/hcp

hcpready: true
{% for XX, YY in QUNEX_SCANLIST %}
{{ '{:24}'.format(XX) }} : {{ '{:30}'.format(YY) }} : filename({{ YY }})
{%- endfor %}
