#  Batch parameters file
#  =====================
#

# Note: We choose NOT to set default values for the various "echospacing" params
# because if the value isn't found in the sidecar JSON (by importHCP), we want
# processing to abort, rather than proceeding silently with a default value

# -------------------------> General settings

_log                    : study|hcp


# -------------------------> General HCP settings

_hcp_Pipeline           : ${HCPPIPEDIR}
_hcp_folderstructure    : hcpls
_hcp_filename           : original
_hcp_processing_mode    : HCPStyleData
_hcp_regname            : MSMSulc
_hcp_cifti_tail         : _Atlas
_hcp_matlab_mode        : compiled


# -------------------------> PreFS

_hcp_gdcoeffs           : default:{{ GRADIENT_COEFFICIENT_PATH }}/Prisma_3T_coeff_AS82.grad
_hcp_brainsize          : 150
_hcp_avgrdcmethod       : NONE
_hcp_topupconfig        : b02b0.cnf
_hcp_prefs_template_res : 0.8  # Default is 0.7

# Following parameters relevant if doing readout distortion correction (RDC)
_hcp_unwarpdir          : z  # Readout direction of the *structurals*; Usually z
_hcp_t1samplespacing    :
_hcp_t2samplespacing    :

# Following parameters relevant if doing RDC with the TOPUP method
_hcp_seechospacing      : # 0.0005800090  # ==> Default "EffectiveEchoSpacing" value (in sec)
_hcp_seunwarpdir        : y  # Assumes that the SEFM NIFTIs are LAS or RAS oriented!
_hcp_sephaseneg         : AP
_hcp_sephasepos         : PA


# -------------------------> FS

_hcp_freesurfer_home    : ${FREESURFER_HOME}


# -------------------------> Post FS
 
_hcp_grayordinatesres   : 2
_hcp_hiresmesh          : 164
_hcp_lowresmesh         : 32


# -------------------------> fMRIVolume

_hcp_bold_gdcoeffs        : default:{{ GRADIENT_COEFFICIENT_PATH }}/Prisma_3T_coeff_AS82.grad
_hcp_bold_sbref           : USE  # Specifies whether SBRef image should be used as the "Scout" (default is NONE)
_hcp_bold_res             : 2
_hcp_bold_biascorrection  : SEBASED

# Following parameters related to susceptibility distortion correction
# Note: HCPpipelines assumes that the BOLD and SEFMs have the same echo-spacing within fMRIVolume (hcp4)
_hcp_bold_echospacing     : # 0.0005800090  # ==> Default "EffectiveEchoSpacing" value (in sec)
_hcp_bold_dcmethod        : TOPUP
_hcp_bold_topupconfig     : b02b0.cnf
_hcp_bold_unwarpdir       : PA=y|AP=y-
_hcp_bold_sephaseneg      : AP
_hcp_bold_sephasepos      : PA


# -------------------------> fMRI Surface

_hcp_bold_smoothFWHM    : 2


# -------------------------> dMRI settings

_hcp_dwi_gdcoeffs       : default:{{ GRADIENT_COEFFICIENT_PATH }}/Prisma_3T_coeff_AS82.grad
_hcp_dwi_echospacing    : # 0.6899980000  # ==> Default "EffectiveEchoSpacing" value (in **msec**)
_hcp_dwi_phasepos       : PA
_hcp_dwi_selectbestb0   : TRUE

{% block additional_params %}{% endblock additional_params %}{% block subject_params %}{% endblock subject_params %}{% block scan_list %}{% endblock scan_list %}
