{% from 'components.jinja2' import pbs_head, singularity -%}
{{ pbs_head(log_dir=LOG_DIR, haswell=False) }}

{% block pre %}{% endblock %}
if [ `find {{ BUILD_SPACE }}/{{WORKING_DIR_BASENAME }}/{{SESSION}}/processing/logs/comlogs -name 'error*.log' -o -name 'tmp*.log' | wc -l` -gt "0" ] ; then
	echo "ERROR: One or more QuNex comlogs are error or tmp logs"
	exit 1
fi

{{ singularity(
        container=PIPELINES_CONTAINER,
        runpath=CHECK_DATA_RUNPATH,
        bindpath=CHECK_DATA_BINDPATH
) }}

RC=$?
if [ $RC -ne 0 ] ; then
	>&2 echo "ERROR:  Singularity CHECK_DATA process failed (RC=$RC).  Let's not proceed.  Exiting."	
	exit $RC
fi

{% block content %}{% endblock %}
