{% extends "script.jinja2" %}
{% block content %}
mv $COMMON/$SUBJ/MNINonLinear $COMMON
mv $COMMON/$SUBJ/T*w $COMMON
mv $COMMON/subjects/specs $COMMON/ProcessingInfo
mv $COMMON/processing $COMMON/ProcessingInfo
mv $COMMON/info/hcpls $COMMON/ProcessingInfo
mv $COMMON/subjects/$SUBJ/subject_hcp.txt $COMMON/ProcessingInfo/processing
mv $COMMON/subjects/$SUBJ/hcpls/hcpls2nii.log $COMMON/ProcessingInfo/processing
find $COMMON \
    -not -path "$COMMON/T*w/*" \
    -not -path "$COMMON/ProcessingInfo/*" \
    -not -path "$COMMON/MNINonLinear/*" \
    -delete
echo "Removing any XNAT catalog files still around."
find $WORK_DIR -name "*_catalog.xml" -delete
echo "Remaining files:"
find $COMMON
{% endblock %}
