{% from 'components.jinja2' import pbs_head, singularity -%}
{{ pbs_head(log_dir=WORKING_DIR) }}

WORK_DIR="{{ WORKING_DIR }}"
SUBJ="{{ SUBJECT_ID }}_{{ SUBJECT_CLASSIFIER }}"
COMMON="$WORK_DIR/$SUBJ"

{% block content %}
mv $COMMON/$SUBJ/MNINonLinear $COMMON
mv $COMMON/$SUBJ/T*w $COMMON
mv $COMMON/sessions/specs $COMMON/ProcessingInfo
mv $COMMON/processing $COMMON/ProcessingInfo
mv $COMMON/info/hcpls $COMMON/ProcessingInfo
mv $COMMON/sessions/$SUBJ/subject_hcp.txt $COMMON/ProcessingInfo/processing
mv $COMMON/sessions/$SUBJ/hcpls/hcpls2nii.log $COMMON/ProcessingInfo/processing
find $COMMON \
    -not -path "$COMMON/T*w/*" \
    -not -path "$COMMON/ProcessingInfo/*" \
    -not -path "$COMMON/MNINonLinear/*" \
    -delete
echo "Removing any XNAT catalog files still around."
find $WORK_DIR -name "*_catalog.xml" -delete
echo "Remaining files:"
find $COMMON
{% endblock %}
