{% from 'components.jinja2' import pbs_head, cmd_options -%}
{{ pbs_head(log_dir=WORKING_DIR) }}

{% block content %}
{{ FREESURFER_ASSESSOR_DEST_PATH }}{{ cmd_options(FREESURFER_PARAMS) }}
{% endblock content %}
