{% from 'components.jinja2' import pbs_head, singularity -%}
{{ pbs_head(log_dir=WORKING_DIR) }}

{{ singularity(
        container=PIPELINES_CONTAINER,
        runpath=GET_DATA_RUNPATH,
        bindpath=GET_DATA_BINDPATH
) }}

WORK_DIR="{{ WORKING_DIR }}"
SUBJ="{{ SUBJECT_ID }}_{{ SUBJECT_CLASSIFIER }}"
COMMON="$WORK_DIR/$SUBJ"

{% block content %}{% endblock %}
