{% from 'components.jinja2' import pbs_head, singularity -%}
{{ pbs_head(log_dir=CHECK_DATA_DIR, pbs_email_addr=PBS_EMAIL_ADDR) }}

{{ singularity(
        container=PIPELINES_CONTAINER,
        runpath=GET_DATA_RUNPATH,
        bindpath=GET_DATA_BINDPATH
) }}

RC=$?
if [ $RC -ne 0 ] ; then
	>&2 echo "ERROR:  Singularity GET_DATA process failed (RC=$RC).  Let's not proceed.  Exiting."	
	exit $RC
fi

WorkingDir="{{ WORKING_DIR }}"
Session="{{SESSION}}"
StudyFolder="$WorkingDir/${Session}"
## Copy any generated batch_parameters.txt and batch.txt files to their expected location 
if [ -f {{CHECK_DATA_DIR}}/batch_parameters.txt ]; then
	mkdir -p $WorkingDir/${Session}/sessions/specs
	cp -p  {{CHECK_DATA_DIR}}/batch_parameters.txt $WorkingDir/${Session}/sessions/specs
fi
if [ -f {{CHECK_DATA_DIR}}/batch.txt ]; then
	mkdir -p $WorkingDir/${Session}/processing
	cp -p  {{CHECK_DATA_DIR}}/batch.txt $WorkingDir/${Session}/processing
fi

{% block content %}{% endblock %}
