{% from 'components.jinja2' import slurm_head, singularity -%}
{{ slurm_head(job_name="mark_complete", log_dir=LOG_DIR) }}

{{ PYTHON }} \
    {{ MARK_RUNNING_STATUS_RUNPATH }}

{% block content %}
rm -rf {{ MARK_COMPLETION_DIR }}
{% endblock %}
