{% from 'components.jinja2' import pbs_head, singularity -%}
{{ pbs_head(log_dir=CHECK_DATA_DIR, pbs_email_addr=PBS_EMAIL_ADDR, haswell=PROCESS_PBS_HASWELL, gpu=PROCESS_PBS_GPU, k20x=PROCESS_PBS_K20X, walltime=WALLTIME_LIMIT_HOURS, mem=MEM_LIMIT_GBS) }}
#PBS -m a

{% block pre -%}
  {%- if SCRATCH_TMP_DIR is defined and SCRATCH_TMP_DIR %}
	# Make sure to `--bind` this to "/tmp" in the singularity invocation
	SCRATCH_TMP_DIR="{{ SCRATCH_TMP_DIR }}"
	mkdir -p $SCRATCH_TMP_DIR
  {% endif -%}

  {%- if USE_SCRATCH_FOR_PROCESSING %}
####   FIX FOR "Cannot allocate memory" ERROR IN BUILD SPACE  #####
  BASE="{{ SESSION }}"
  SCRATCH="{{ SCRATCH_SPACE }}/{{ WORKING_DIR_BASENAME }}"
  ORIGINAL="{{ BUILD_SPACE }}/{{ WORKING_DIR_BASENAME }}"

  mkdir -p $SCRATCH
  mv $ORIGINAL/$BASE $SCRATCH

{% endif %}
{%- endblock pre -%}


{{ singularity(
        container=QUNEX_CONTAINER,
        runpath=RUN_QUNEX_SCRIPT,
        bindpath=PROCESS_DATA_BINDPATH,
		nvidia=PROCESS_NVIDIA
) }}

RC=$?
if [ $RC -ne 0 ] ; then
	>&2 echo "ERROR:  Singularity PROCESS_DATA process failed (RC=$RC).  Let's not proceed.  Exiting."	
	exit $RC
fi

{% block content %}
{% if USE_SCRATCH_FOR_PROCESSING %}
mv $SCRATCH/$BASE $ORIGINAL
rm -rf $SCRATCH
{% endif %}
{% endblock %}
