{% from 'components.jinja2' import pbs_head, singularity -%}
{{ pbs_head(log_dir=WORKING_DIR, haswell=PROCESS_PBS_HASWELL, gpu=PROCESS_PBS_GPU, k20x=PROCESS_PBS_K20X, walltime=WALLTIME_LIMIT_HOURS, mem=MEM_LIMIT_GBS) }}

source {{ XNAT_PBS_SETUP_SCRIPT_PATH }}


{% block pre %}
  {%- if SCRATCH_TMP_DIR is defined and SCRATCH_TMP_DIR %}
	# Make sure to `--bind` this to "/tmp" in the singularity invocation
	SCRATCH_TMP_DIR="{{ SCRATCH_TMP_DIR }}"
	mkdir -p $SCRATCH_TMP_DIR
  {% endif -%}

  {%- if SCRATCH_WORK_DIR is defined and SCRATCH_WORK_DIR %}
	####   FIX FOR "Cannot allocate memory" ERROR IN BUILD SPACE  #####
	# 1. Copy the content onto scratch dir
	# 2. Do work on scratch dir (by binding to keep log filepaths correct)
	# 3. Copy the changes back to the build space
	# 4. Delete tmp from scratch space
	STUDY_FOLDER="{{ STUDY_FOLDER }}"
	SCRATCH_WORK_DIR="{{ SCRATCH_WORK_DIR }}"
	mkdir -p $SCRATCH_WORK_DIR
	rsync -a $STUDY_FOLDER/ $SCRATCH_WORK_DIR/
  {% endif %}
{% endblock pre %}

#  prior runpath was: {{ SINGULARITY_QUNEXRUN_PATH }}
{{ singularity(
        container=SINGULARITY_CONTAINER_PATH,
        runpath=RUN_QUNEX_SCRIPT,
        bindpath=PROCESS_DATA_BINDPATH,
        params=PROCESS_DATA_PARAMS,
		nvidia=PROCESS_NVIDIA
) }}

{% block content %}
  {% if SCRATCH_WORK_DIR is defined and SCRATCH_WORK_DIR %}
	# copy updates back from scratch space
	rsync -a $SCRATCH_WORK_DIR/ $STUDY_FOLDER/
	#rm $SCRATCH_WORK_DIR

  {% endif %}
{% endblock %}
