{% from 'components.jinja2' import slurm_head, singularity -%}
{{ slurm_head(job_name=SCRIPTNAME_PUT, log_dir=LOG_DIR, mem=12) }}
# Cron jobs remove this directory if it is old.  Let's check and recreate if necessary.
if [ ! -d {{ LOG_DIR }} ] ; then
	mkdir -p {{ LOG_DIR }}
fi

cp {{ CHECK_DATA_DIR }}/* {{ CLEAN_DATA_DIR }}/{{ SESSION }}/ProcessingInfo

{{ PYTHON }} \
    {{ PUT_DATA_RUNPATH }}

RC=$?
if [ $RC -ne 0 ] ; then
    >&2 echo "ERROR:  PUT_DATA process failed (RC=$RC).  Let's not proceed.  Exiting."
    exit $RC
fi

{% block content %}{% endblock %}
