{% from 'components.jinja2' import slurm_head, singularity -%}
{{ slurm_head(job_name="put_data", log_dir=LOG_DIR, mem=12) }}

cp {{ CHECK_DATA_DIR }}/* {{ CLEAN_DATA_DIR }}/{{ SESSION }}/ProcessingInfo

{{ PYTHON }} \
    {{ PUT_DATA_RUNPATH }}

{% block content %}{% endblock %}
