#!/usr/bin/env bash


delete_resource(){
  echo "Deleting the resource from the XNAT server"
  {{ PYTHON }} \
        -c 'from shared_values import get_xnat_client; client = get_xnat_client(); client.delete_resource("{{OUTPUT_RESOURCE_NAME}}")'
}

mark_running_status(){
    echo "Creating \"Running Status Marker\" file to indicate that jobs are queued."
    {{ MARK_RUNNING_STATUS_RUNPATH }} \
        --status=queued
}
{% if CLEAN_OUTPUT_FIRST %}
  ### Delete the resource first
  delete_resource
{% else %}
  ### Deleting the resource first has been disabled
  ### Uncomment line below to re-enable
  #delete_resource
{% endif %}

### Run Script to create running status marker file
{% if STAGE > PREPARE_SCRIPTS %}# {% endif -%}
mark_running_status

### List of generated scripts
GET_DATA_JOB_SCRIPT_NAME="{{ GET_DATA_JOB_SCRIPT_NAME }}"
PROCESS_DATA_JOB_SCRIPT_NAME="{{ PROCESS_DATA_JOB_SCRIPT_NAME }}"
{% if FREESURFER_SCRIPT_NAME is defined -%}
FREESURFER_SCRIPT_NAME="{{ FREESURFER_SCRIPT_NAME }}"
{%- endif %}
CLEAN_DATA_SCRIPT_NAME="{{ CLEAN_DATA_SCRIPT_NAME }}"
PUT_DATA_SCRIPT_NAME="{{ PUT_DATA_SCRIPT_NAME }}"
CHECK_DATA_JOB_SCRIPT_NAME="{{ CHECK_DATA_JOB_SCRIPT_NAME }}"

### Chain the scripts onto the PBS
{% if STAGE < GET_DATA %}# {% endif -%}
PRIOR_JOB=$(sbatch $GET_DATA_JOB_SCRIPT_NAME | tr " " '\n' | tail -1)
{% if STAGE < PROCESS_DATA %}# {% endif -%}
PRIOR_JOB=$(sbatch --dependency=afterok:$PRIOR_JOB $PROCESS_DATA_JOB_SCRIPT_NAME | tr " " '\n' | tail -1)
{% if STAGE < CLEAN_DATA %}# {% endif -%}
PRIOR_JOB=$(sbatch --dependency=afterok:$PRIOR_JOB $CLEAN_DATA_SCRIPT_NAME | tr " " '\n' | tail -1)
{% if STAGE < PUT_DATA %}# {% endif -%}
PRIOR_JOB=$(sbatch --dependency=afterok:$PRIOR_JOB $PUT_DATA_SCRIPT_NAME | tr " " '\n' | tail -1)
{% if STAGE < CHECK_DATA %}# {% endif -%}
PRIOR_JOB=$(sbatch --dependency=afterok:$PRIOR_JOB $CHECK_DATA_JOB_SCRIPT_NAME | tr " " '\n' | tail -1)



### This cleans up the running status marker and should always run last
{% if STAGE > PREPARE_SCRIPTS %}# {% endif -%}
PRIOR_JOB=$(sbatch --dependency=afterany:$PRIOR_JOB {{ MARK_NO_LONGER_RUNNING_SCRIPT_NAME }})

