#!/usr/bin/env bash

submit(){
    if [ -z "$PRIOR_JOBID" ]; then
        PRIOR_JOBID=$(sbatch $1 | tr " " '\n' | tail -1)
    else
        PRIOR_JOBID=$(sbatch --dependency=afterok:$PRIOR_JOBID $1 | tr " " '\n' | tail -1)
    fi
}


### List of generated scripts
GET="{{ GET_DATA_JOB_SCRIPT_NAME }}"
PROCESS="{{ PROCESS_DATA_JOB_SCRIPT_NAME }}"

submit $GET
submit $PROCESS
