{% extends "generic/XNAT_GET.py" %}
{% block get_data %} 
print("Getting prereq data for the Structural HandEditting pipeline.")
resources.get_supplemental_structural_preproc_data()
resources.get_hand_edit_data()
resources.get_structural_preproc_data()
# resources.get_structural_unproc_data()
{% endblock get_data %}
