{% extends "generic/batch.txt.jinja2" %}
{% block additional_params %}
{% if MSM_ALL_BOLDS is defined %}
# -------------------------> MSMAll parameters

_hcp_msmall_bolds	: {{ MSM_ALL_BOLDS }}

{% endif %}
{% endblock additional_params %}
