{% extends "generic/get_data.jinja2" %}
{% block content %}
## Need to convert some symlinks to files as they are added to or rewritten by MSMAll
if [ -d "$StudyFolder" ] ; then
    pushd $StudyFolder
    find . -type l | egrep "\.spec$|prefiltered_func_data.*clean*" | xargs -I '{}' sh -c 'cp --remove-destination $(readlink {}) {}'
    popd
fi
{% endblock content %}
