{% extends "generic/run_qunex.0.62.sh" %}
{% block qunex_setup %}
## This pipeline uses a template-based approach to generate the id/scan portion of batch.txt, rather than 'createBatch'
{% endblock qunex_setup %}
{% block pipeline_specific %}

	######################### hcp_MSMAll
	${QUNEXCOMMAND} hcp_MSMAll \
		--sessions="${StudyFolder}/processing/batch.txt" \
		--sessionsfolder="${StudyFolder}/sessions" \
		--overwrite="${Overwrite}" \
		--parsessions="${parsessions}"

{% endblock pipeline_specific %}