{% extends "generic/batch.txt.jinja2" %}
{% block additional_params %}
# -------------------------> dMRI settings

_hcp_dwi_echospacing    : 0.6899980000
_hcp_dwi_PEdir          : 2
_hcp_dwi_gdcoeffs       : default:/export/HCP/gradient_coefficient_files/Prisma_3T_coeff_AS82.grad|model:Prisma:/export/HCP/gradient_coefficient_files/Prisma_3T_coeff_AS82.grad|model:Prisma_fit:/export/HCP/gradient_coefficient_files/Prisma_3T_coeff_AS82.grad
_hcp_dwi_phaseneg         : AP
_hcp_dwi_phasepos         : PA
{% endblock additional_params %}
