{% extends "generic/clean_data.jinja2" %}
{% block content %}
find $COMMON/sessions/$SUBJ/hcp/$SUBJ \! -newer {{ STARTTIME_FILE_NAME }} -delete
mv $COMMON/sessions/$SUBJ/hcp/$SUBJ/* $COMMON
mv $COMMON/sessions/specs $COMMON/ProcessingInfo
mv $COMMON/processing $COMMON/ProcessingInfo
mv $COMMON/info/hcpls $COMMON/ProcessingInfo
cp $COMMON/sessions/$SUBJ/subject_hcp.txt $COMMON/ProcessingInfo/processing
cp $COMMON/sessions/$SUBJ/hcpls/hcpls2nii.log $COMMON/ProcessingInfo/processing
find $COMMON \
    -not -path "$COMMON/T1w/*" \
    -not -path "$COMMON/ProcessingInfo/*" \
    -not -path "$COMMON/Diffusion/*" \
    -delete
echo "Removing any XNAT catalog files still around."
find $WORK_DIR -name "*_catalog.xml" -delete
echo "Remaining files:"
find $COMMON
{% endblock %}
