{% extends "generic/clean_data.jinja2" %}
{% block content %}
find $StudyFolder/sessions/${Session}/hcp/${Session} \! -newer {{ STARTTIME_FILE_NAME }} -delete
mv $StudyFolder/sessions/${Session}/hcp/${Session}/* $StudyFolder
mv $StudyFolder/sessions/specs $StudyFolder/ProcessingInfo
mv $StudyFolder/processing $StudyFolder/ProcessingInfo
mv $StudyFolder/info/hcpls $StudyFolder/ProcessingInfo
cp $StudyFolder/sessions/${Session}/session_hcp.txt $StudyFolder/ProcessingInfo/processing
cp $StudyFolder/sessions/${Session}/hcpls/hcpls2nii.log $StudyFolder/ProcessingInfo/processing
find $StudyFolder \
    -not -path "$StudyFolder/T1w/*" \
    -not -path "$StudyFolder/ProcessingInfo/*" \
    -not -path "$StudyFolder/Diffusion/*" \
    -delete
echo "Removing any XNAT catalog files still around."
find $WorkingDir -name "*_catalog.xml" -delete
echo "Remaining files:"
find $StudyFolder
{% endblock %}
