{% extends "generic/get_data.jinja2" %}
{% block content %}
rm -rf $COMMON/unprocessed/T1w_MPR_vNav_4e_RMS
find $COMMON/unprocessed/ -maxdepth 1 -mindepth 1 \
    -type d -path "$COMMON/unprocessed/[rt]fMRI_*" \
    -exec rm -rf '{}' \;
{% endblock content %}
