{% extends "generic/XNAT_GET.py" %}
{% block get_data %} 
print("Getting prereq data for the Diffusion pipeline.")
resources.get_supplemental_structural_preproc_data()
resources.get_structural_preproc_data()
resources.get_diffusion_unproc_data()
{% endblock get_data %}
