#PBS -S /bin/bash
#PBS -l nodes={{ PBS_NODES|default(1)|int }}:ppn={{ PBS_PPN|default(1)|int }}

{%- if PBS_HASWELL is defined -%}
:haswell
{%- endif -%}

{%- if PBS_GPU is defined -%}
:gpus={{ PBS_GPU|int }}
{%- endif -%}

,walltime={{ PBS_WALLTIME|default(4)|int }}:00:00,mem={{ PBS_MEM|default(4)|int }}gb
{% if PBS_LOG is defined -%}
#PBS -o {{ PBS_LOG }}
#PBS -e {{ PBS_LOG }}
{% endif %}
