{% extends "generic/get_data.jinja2" %}
{% block content %}
SCAN="{{ SCAN }}"

find $StudyFolder/unprocessed/ -maxdepth 1 -mindepth 1 \
    \( -type d -not -path "$StudyFolder/unprocessed/$SCAN" \
    -path "$StudyFolder/unprocessed/[rt]fMRI_*_[AP][PA]" \
    -o -path "$StudyFolder/unprocessed/T1w_*" \
    -o -path "$StudyFolder/unprocessed/T2w_*" \
    -o -path "$StudyFolder/unprocessed/Diffusion" \
    \) -exec rm -rf '{}' \;
{% endblock content %}
