{% extends "generic/run_qunex.old.sh" %}
{% block pipeline_specific %}

	mv ${StudyFolder}/T*w "${StudyFolder}/subjects/${Subject}/hcp/${Subject}/"
	mv ${StudyFolder}/MNINonLinear "${StudyFolder}/subjects/${Subject}/hcp/${Subject}/"

	######################### hcp4
	${QUNEXCOMMAND} hcp4 \
		--sessions="${StudyFolder}/processing/batch.txt" \
		--subjectsfolder="${StudyFolder}/subjects" \
		--overwrite="${Overwrite}" \
		--cores="${parsessions}"

	######################### hcp5
	${QUNEXCOMMAND} hcp5 \
		--sessions="${StudyFolder}/processing/batch.txt" \
		--subjectsfolder="${StudyFolder}/subjects" \
		--overwrite="${Overwrite}" \
		--cores="${parsessions}"


{% endblock pipeline_specific %}
