{% extends "generic/XNAT_GET.py" %}
{% block get_data %} 
print("Getting prereq data for the Functional pipeline.")
resources.get_supplemental_structural_preproc_data()
resources.get_structural_preproc_data()
resources.get_functional_unproc_data(extra)
{% endblock get_data %}
