{% extends "generic/batch.txt.jinja2" %}
{% block additional_params %}
# -------------------------> Actually no custom batch file for this run, but including this because code expects it
{% endblock additional_params %}
