{% extends "generic/get_data.jinja2" %}
{% block content %}
## Need to convert some symlinks to files for this patch run
if [ -d "$StudyFolder" ] ; then
    pushd $StudyFolder
    find . -type l | egrep "*_hcp_asl.log*" | xargs -I '{}' sh -c 'cp --remove-destination $(readlink {}) {}'
    find . -type l | egrep "\/ASL\/" | egrep -v "\/fsl_[^\/]*_ox_asl\/" | xargs -I '{}' sh -c 'cp --remove-destination $(readlink {}) {}'
    popd
fi
{% endblock content %}



